.phoneNumber {margin-top: -5px;float: right;padding: 0 0 0 8px;line-height: 12px;font-size: 13px;color: #fff;  }
.phoneNumber a.call {background: url(../images/phone-receiver.svg) 0 2px no-repeat;padding-left: 18px;color: #fff;margin: 0 0 0 2px;font-weight: 600;height: 20px;}
ul.topNav{float: right;margin-top: -10px;}
.topNav li:first-child {border: none;}
.topNav li {float: left;margin-top: 4px;padding: 0 8px;line-height: 12px;font-size: 13px;color: #fff;border-left: 1px solid #fff; list-style: none;}
.topNav li a {color: #fff;text-decoration: none;}