// background color
$font-family:'Montserrat', sans-serif;
$light-color: #f8f9fa;
$primary-color: #a6cc46;
$disable-button:#d4e5b2;
$colorYellow:#f8e71c;
$colorYellowl:#fcf0c9;
$secondary-color: #7781f4;
$darkBlue-color:#06357a;
$greadBlue-light:#508ea0;
$round-circle:#4f7e6f;
$round-circley:#e9b532;
$Blue-light:#0092d5;
$bgcolor:#f3f5fb;
$lightBlack-color: #5b5f6d;
$base-color: #242731;
$white-color: #fff;
$black-color: #000;
$gray-color: #989ba6;
$graylight-color:#e8e8e8;
$grayDark-color:#e5e8f0;
$graybgcolor:#ebeef6;
$red-color: #ef5555;
$ahover:none;
// font size
$size-exs: 10px;
$size-xs: 11px;
$size-sm: 12px;
$size-md: 14px;
$size-lg: 16px;
$size-17: 17px;
$size-20:20px;
$size-exl:22px;
$size-24:24px;
$size-26: 26px;
$size-30: 30px;
$size-36: 36px;
// padding
$p0: 0px;
$p5:5px;
$p10: 10px;
$p12:12px;
$p15: 15px;
$p20: 20px;
$p25:25px;
$p30: 30px;
$p40: 40px;
// margin
$m0: 0px;
$m10: 10px;
$m15: 15px;
$m20: 20px;
$m30: 30px;
$m40: 40px;
// text Transform
$textUpper: uppercase;
$textLower: lowarcase;
// fotn weight 
$font-light: 300;
$font-regular: 400;
$font-medium:500;
$font-sami-bold:600;
$font-bold: 700;
$rotate:45deg;